.card-list__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--white);
    padding: 30px;
}

.card-list > h1 {
    font-size: 30px;
    margin-left: 50px;
    font-family: 'El Messiri', monospace;
    text-transform: uppercase;
    color: var(--white)   
}